.cake-con{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    /* background-color:  linear-gradient(180deg, #000000 59.96%, #B46161 134.18%); */
      
}
.main-cake-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
#logo-img{
    width: 8rem;
    height: 8rem;
   
}
.grid-img{
    width: 5rem;
    height: 3rem;
   
}
.headding-cake h1{
    
    font-family: Oswald;
    margin: 0rem;
    padding: 0rem;
    font-size: 96px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Create a linear gradient using the specified RGB values */
    background-image: linear-gradient(to right, rgb(180, 97, 97), rgb(252, 195, 182));
    /* border: 1px solid red; */

}

.headding-cake p{
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:  rgba(250, 192, 180, 1);
    margin: 0rem;
    padding: 0rem;
}
.dateandtime{
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    align-items: center;
    padding: 0rem;
    /* border: 1px solid green; */
    /* align-content: center; */

}
.dateandtime p{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(249, 197, 197, 1);
    padding-top: 1rem;


}
.dateandtime img{
    height: 1.5rem;
    padding: 0px;
}
.cake-headding{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(249, 197, 197, 1);
    padding: 0rem 5rem;
    margin: 0rem;

}
.cake-shop{
    /* border: 1px solid green; */
    margin: 2rem 0rem;
}
.cake-shop{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 3rem;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: space-evenly;
       /* border: 1px solid green; */
}
.cake-image{
    width: 12rem;
    height: 10rem;
    border-radius: 5%;
   
}
.cake-box{
    position: relative;
    /* border: 1px solid black; */
}
.cake-box{
    position: relative;
    /* border: 1px solid black; */
    transition: transform 0.3s ease-in-out;
}
.cake-box:hover{
    
    transform: scale(1.30);
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.cakename{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(249, 197, 197, 1);
    padding: 0.5rem;
    
}
.price{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(249, 197, 197, 1);
    padding: 0rem;

}
#checkbox1{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
.result{
font-family: IBM Plex Sans;
font-size: 40px;
font-weight: 400;
line-height: 52px;
letter-spacing: 0em;
text-align: center;
color: rgba(249, 197, 197, 1);
/* padding-bottom: 5rem; */


}
.nextstep{
    text-align: right;
    /* border: 1px solid gray; */
    padding-bottom: 5rem;
    padding-right: 3rem ;
}
.nextstep img{
    width: 10rem;
    height: 5rem;
}
.nextstep:hover{
    cursor: pointer;
}
.final{
    color: white;
}

@media (min-width: 360px) and (max-width: 600px){
    .main-cake-con{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    .logo-img{
        width: 5rem;
        height: 5rem;
    }
    .grid-img{
        width: 2rem;
        height: 1.5rem;
    }
    .headding-cake h1{
        font-size: 46px;
        line-height: 50px;
        letter-spacing: 0em;
    
    }
    
    .headding-cake p{
        font-size: 10px;
        line-height: 13px;
    }
    .dateandtime p{
        font-size: 10px;
        line-height: 15px;
      
    
    
    }
    .dateandtime img{
        height: 1rem;
    }
    .cake-headding{
        font-size: 30px;
        line-height: 49px;
        padding: 0rem 1rem;
    
    }
    .cake-shop{
        /* border: 1px solid green; */
    }
    .cake-shop{
        display: flex;
        flex-wrap: wrap;
        padding: 0rem 1.5rem;
        column-gap: 0.5rem;
        row-gap: 1rem;
    }
    .cake-image{
        width: 7rem;
        height: 6rem;
       
    }
    .cake-box{
        position: relative;
    }
    .cakename{
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
        
    }
    .price{
        font-size: 8px;
        font-weight: 600;
        line-height: 8px;
      
    
    }
    #checkbox1{
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .result{
   
    font-size: 30px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    padding-left: 3rem;
    
    
    }
    .nextstep{
        text-align: right;
        /* border: 1px solid gray; */
        padding-bottom: 2.5rem;
        padding-right: 1.5rem ;
    }
    .nextstep img{
        width: 8rem;
        height: 4rem;
    }
}