 .Beigein-home-con{
    /* width: 100%; */
    margin: 1rem 3rem;
    background-color:  linear-gradient(180deg, #000000 59.96%, #B46161 134.18%);
    /* border: 1px solid green; */
    /* background-image: url(../../assets/images/Home-bg-img.jpeg); */
}

.main-section{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 70% 20%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    
    
   
} 

.main-section div{
    display: flex;
    /* border: 1px solid pink; */
    column-gap: 1rem;
    padding: 0rem 0rem;
    align-items: center;
}
.main-section img{
    width: 12rem;
    height: 12rem;
}
.main-section h1{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Create a linear gradient using the specified RGB values */
    background-image: linear-gradient(to right, rgb(180, 97, 97), rgb(252, 195, 182));
    /* border: 1px solid red; */


}
.grid-con{
    display: flex;
    align-items: center;
    justify-content: right;
}
.grid-con img{
    width: 5rem;
    height: 4rem;
}
.mobileview-text{
    display: none;
}
/* theater part */


.theater-part{
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem 0rem;
    justify-content: space-evenly;
    
}
.routing-home{
    display: flex;
    /* border: 1px solid green; */
    justify-content: space-evenly;
    column-gap: 0.5rem;

} 

.mini-con{
    width: 50%;
    height: 27rem;
    position: relative;
}
.mini-con img{
    width: 100%;
    height: 100%;
}
.large-con{
    width: 50%;
    height: 27rem;
    position: relative;
}
.large-con img{
    width: 100%;
    height: 100%;
}

.mini-con p{
    padding: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:  rgba(255, 254, 254, 1);
    

}
.large-con p{
    padding: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:  rgba(255, 254, 254, 1);
    
}
.content-home{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mini-con button{
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    width: 10rem;
    height: 3rem;
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
 

}
.mini-con button:hover{
    width: 11rem;
    height: 3.5rem;
    cursor: pointer;
}
.large-con button{
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    width: 10rem;
    height: 3rem;
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  

}
.large-con button:hover{
    width: 11rem;
    height: 3.5rem;
    cursor: pointer;
}

.content-home{
    display: flex;
    flex-direction: column;
    padding:0rem 1rem;

}
.birthday{
    /* border: 1px solid pink; */
    border-bottom: 2px solid rgba(180, 97, 97, 1);
    
}
.birthday h1{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    /* color: linear-gradient(269.75deg, #B4AC61 4.8%, #FCC3B6 99.83%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF); */
        color: white;
    margin: 0rem;
    padding: 0rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Create a linear gradient using the specified RGB values */
    background-image: linear-gradient(to right, rgb(180, 97, 97), rgb(252, 195, 182));
    /* border: 1px solid red; */
     
}
.birthday p{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 192, 180, 1);
    

}

.party h1{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    /* color: linear-gradient(269.75deg, #B4AC61 4.8%, #FCC3B6 99.83%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF); */
        color: white;
    margin: 0rem;
    padding: 0rem;
     
}
.party p{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.socialmedia-links{
    display: flex;
    column-gap: 1rem;
}
.socialmedia-links img:hover{
    cursor: pointer;
} 


@media (min-width: 360px) and (max-width: 600px){
    .Beigein-home-con{
        width: 100%;
        height: auto;    
    }
    
    .main-section{
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        padding: 1rem 0rem;
        
        
       
    } 
    
    .main-section div{
        display: flex;
        /* border: 1px solid pink; */
        column-gap: 1rem;
        padding: 0rem 1rem;
    }
    .main-section div h1{
        display: none;
        background-image: linear-gradient(to right, rgb(180, 97, 97), rgb(252, 195, 182));
    }
    .mobileview-text{
        display: block;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* Create a linear gradient using the specified RGB values */
        background-image: linear-gradient(to right, rgb(180, 97, 97), rgb(252, 195, 182));
        /* border: 1px solid red; */
        padding: 0rem 2rem;

    }
    .logo{
        width: 5rem;
        height: 5rem;
        padding-left: 2rem;
    }
    .main-section h1{
       
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color:white;
        color: linear-gradient(269.75deg, #B4AC61 4.8%, #FCC3B6 99.83%);
    
    }
    .grid-con{
        display: flex;
        justify-content: right;
    }
    .grid-con img{
        width: 3rem;
        height: 2rem;
        padding-right: 2rem;
    }

    /* theater part */
    .theater-part{
       
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: 100%;
        padding: 0.5rem 0rem;
        justify-content: center;
        align-items: center;
      
        
    }
    .routing-home{
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        justify-content: center;
        column-gap: 0rem;
        row-gap: 0.5rem;
    
    } 
    
    .mini-con{
        margin-left: auto;
        margin-right: auto;
        width: 22rem;
        height: 27rem;
        position: relative;
        
    }
    .mini-con img{
        width: 100%;
        height: 100%;
    }
    .large-con{
        margin-left: auto;
        margin-right: auto;
        width: 22rem;
        height: 27rem;
        position: relative;
        padding-bottom: 1rem;
    }
    .large-con img{
        width: 100%;
        height: 100%;
    }
    
    .mini-con p{
        padding: 2rem;
        position: absolute;
        bottom: 2rem;
        font-family: Oswald;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color:  rgba(255, 254, 254, 1);
        
    
    }
    .large-con p{
        padding: 2rem;
        position: absolute;
        bottom: 2rem;
        font-family: Oswald;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color:  rgba(255, 254, 254, 1);
        
    }
    .content-home{
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mini-con button{
        position: absolute;
        bottom: 1rem;
        right:4rem;
        width: 10rem;
        height: 3rem;
        /* border: 1px solid black; */
        background-color: black;
        color: white;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
     
    
    }
    .mini-con button:hover{
        width: 11rem;
        height: 3.5rem;
        cursor: pointer;
    }
    .large-con button{
        position: absolute;
        bottom: 1rem;
        right: 4rem;
        width: 10rem;
        height: 3rem;
        /* border: 1px solid black; */
        background-color: black;
        color: white;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
      
    
    }
    .large-con button:hover{
        width: 11rem;
        height: 3.5rem;
        cursor: pointer;
    }
    
    .content-home{
        display: flex;
        flex-direction: column;
        padding:0rem 1rem;
    
    }
    .birthday{
        /* border: 1px solid pink; */
        border-bottom: 2px solid rgba(180, 97, 97, 1);
        
    }
    .birthday h1{
        font-family: Oswald;
        font-size: 32px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        /* color: linear-gradient(269.75deg, #B4AC61 4.8%, #FCC3B6 99.83%),
            linear-gradient(0deg, #FFFFFF, #FFFFFF); */
            color: white;
        margin: 0rem;
        padding: 0rem;
         
    }
    .birthday p{
        font-family: IBM Plex Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    
    }
    
    .party h1{
        font-family: Oswald;
        font-size: 32px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        /* color: linear-gradient(269.75deg, #B4AC61 4.8%, #FCC3B6 99.83%),
            linear-gradient(0deg, #FFFFFF, #FFFFFF); */
            color: white;
        margin: 0rem;
        padding: 0rem;
         
    }
    .party p{
        font-family: IBM Plex Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    
    }
    
    .socialmedia-links{
        display: flex;
        column-gap: 1rem;
    }
    .socialmedia-links img:hover{
        cursor: pointer;
    } 
} 